*{
  font-family: 'Truculenta', sans-serif;
}

body{
  background-color: rgb(214, 186, 50);
}

#Contenido{
  margin: auto;
  width: 80%;
  background-color: white;
  border-radius: 10px;
  padding: 1em;
}

div {
  border: 1px solid black;
  padding:8px;
}

table, th, td {
  border: 1px solid;
}